@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top, #c5d7d6, #F3FaF9);
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS to hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Increase gap for underline text */
.underline-offset {
  text-underline-offset: 4px;
}




